{{#if concurso}}
    <div class="container-sm">
        <p><h3>
            {{concurso.nome}}
        </h3></p>
        <p>
            <strong>Prazo de envo de itens:</strong>
            {{concurso.prazoEnvioItem}}
            <br>
            <strong>Data de divulgação dos resultados:</strong>
            {{concurso.dataDivulgacaoResultado}}
        </p>

        {{#if concursoAceitaEnvios}}
        <p>
            <a href="/item/concurso/{{concurso.id}}/create" >
                <button class="btn btn-success btn-block">Enviar item para o concurso</button>
            </a>
        </p>
        {{/if}}
        {{#if concursoSaiuResultado}}
        <p>
            <a href="/concurso/{{concurso.id}}/resultado" >
                <button class="btn btn-primary btn-block">Ver resultado do concurso</button>
            </a>
        </p>

        {{/if}}
        <p>
            <button class="btn btn-secondary btn-block" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseDescricao" 
                    aria-expanded="false" 
                    aria-controls="collapseDescricao">
                Descrição do Concurso
            </button>

            <div class="collapse" id="collapseDescricao">
                <div class="card card-body">
                    {{concurso.descricao}}
                </div>
            </div>
        </p>

        <p>
            <button class="btn btn-secondary btn-block" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapsePremio" 
                    aria-expanded="false" 
                    aria-controls="collapsePremio">
                Prêmio
            </button>

            <div class="collapse" id="collapsePremio">
                <div class="card card-body">
                    {{concurso.premio}}
                </div>
            </div>
        </p>

        <p>
        <a href="/item/concurso/{{concurso.id}}/list">
            <button class="btn btn-primary btn-block">
                Ver todos os itens concorrendo
            </button>
        </a>
        </p>

    </div>
{{else}}
    <h1>Ocorreu algum erro</h1>
    <p>{{error}}</p>
{{/if}}
