{{#if concurso}}
    <div class="container-sm">
        <p><h3>
            {{concurso.nome}}
        </h3></p>
        <p>
            <strong>Prazo de envo de itens:</strong>
            {{concurso.prazoEnvioItem}}
            <br>
            <strong>Data de divulgação dos resultados:</strong>
            {{concurso.dataDivulgacaoResultado}}
        </p>

        {{#if aceitaEnvios}}
            <a href="/item/{{concurso.id}}/create" >
                <button class="btn btn-sucess">Enviar item para o concurso</button>
            </a>
        {{/if}}

        <p>
            <button class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseDescricao" 
                    aria-expanded="false" 
                    aria-controls="collapseDescricao">
                Descrição do Concurso
            </button>

            <div class="collapse" id="collapseDescricao">
                <div class="card card-body">
                    {{concurso.descricao}}
                </div>
            </div>
        </p>

        <p>
            <button class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapsePremio" 
                    aria-expanded="false" 
                    aria-controls="collapsePremio">
                Prêmio
            </button>

            <div class="collapse" id="collapsePremio">
                <div class="card card-body">
                    {{concurso.premio}}
                </div>
            </div>
        </p>

        <p>TODO: Ver itens que estão concorrendo ao concurso</p>

    </div>
{{else}}
    <h1>Ocorreu algum erro</h1>
    <p>{{error}}</p>
{{/if}}
