<h1> Lista de todos os Concursos</h1>
{{#if concursos}}
    {{#if usuario.eAdmin}}
        <table  class="table table-hover table-striped">
            <thead  class="bg-primary">
                <tr>
                    <th scope="col">Nome </th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Prêmio</th>
                    <th scope="col">Prazo de envios</th>
                    <th scope="col">Divilgação de resultados</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            <tbody>
                {{#each concursos as | conc |}}
                    <tr>
                        <th scope="row"><a href="/concurso/{{conc.id}}/view">{{conc.nome}}</a></th>
                        <td>{{conc.descricao}}</td>
                        <td>{{conc.premio}}</td>
                        <td>{{conc.prazoEnvioItem}}</td>
                        <td>{{conc.dataDivulgacaoResultado}}</td>
                        <td>
                            <a href="/concurso/{{conc.id}}/edit">
                                <button class="btn btn-primary">Editar</button>
                            </a>
                        </td>
                        <td>
                            <a href="/concurso/{{conc.id}}/delete">
                                <button class="btn btn-danger">Deletar</button>
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <table  class="table table-hover table-striped">
            <thead  class="bg-primary">
                <tr>
                    <th scope="col">Nome </th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Prêmio</th>
                    <th scope="col">Prazo de envios</th>
                    <th scope="col">Divilgação de resultados</th>
                </tr>
            </thead>
            <tbody>
                {{#each concursos as | conc |}}
                    <tr>
                        <th scope="row"><a href="/concurso/{{conc.id}}/view">{{conc.nome}}</a></th>
                        <td>{{conc.descricao}}</td>
                        <td>{{conc.premio}}</td>
                        <td>{{conc.prazoEnvioItem}}</td>
                        <td>{{conc.dataDivulgacaoResultado}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
{{else}}
    <h1>Erro na recuperação da lista</h1>
    <pre>{{error}}</pre>
{{/if}}

