<h1> Listar de itens do Concurso </h1>
<script src="/js/index.js"></script>
{{#if concurso}}
    <center><h2>{{concurso.nome}}</h2></center>
{{/if}}
{{#if itens}}
    <table  class="table table-hover table-striped">
        <thead  class="bg-primary">
            <tr>
                <th scope="col">Nome </th>
                <th scope="col">Item</th>
                {{#if usuario.id}}
                    <th scope="col">Votar</th>
                {{/if}}
                {{#if usuario.eAdmin}}
                    <th scope="col">Excluir</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each itens as | i |}}
                <tr>
                    <th scope="row">{{i.nome}}</th>
                    <td><a href={{link_item}}>Ver item</a></td>
                    {{#if ../usuario.id}}
                        <td>
                            {{#if i.gostou}}
                                <button id="votar_{{i.id}}" 
                                        class="btn btn-success"
                                        onclick="votarItem('{{i.id}}', '{{../usuario.id}}')"
                                        >Gostei</button>
                            {{else}}
                                <button id="votar_{{i.id}}" 
                                        class="btn btn-outline-success"
                                         onclick="votarItem('{{i.id}}', '{{../usuario.id}}')"
                                         >Gostar</button>
                            {{/if}}
                        </td>
                    {{/if}}
                    {{#if ../usuario.eAdmin}}
                        <td>
                            <a href="/item/{{i.id}}/delete">
                                <button class="btn btn-danger">Excluir</button>
                            </a>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="container-sm">
        <div class="alert alert-warning" role="alert">
            <h3>Ainda não foram enviados itens para o concurso</h3>
        </div>
    </div>
{{/if}}
