{{#if usuario}}
    <center><h1>Seus itens enviados</h1></center>
    {{#if itens}}
        <table  class="table table-hover table-striped">
        <thead  class="bg-primary">
            <tr>
                <th scope="col">Nome </th>
                <th scope="col">Descrição</th>
                <th scope="col">Item</th>
            </tr>
        </thead>
        <tbody>
            {{#each itens}}
            <tr>
                <th scope="row">{{nome}}</th>
                <td>{{descricao}}</td>
                <td><a href={{link_item}}>Ver item</a></td>
            </tr>
            {{/each}}
        </tbody>
        </table>
    {{else}}
        <h2>Erro na recuperação da lista de itens</h2>
    {{/if}}
{{else}}
    <h2>Faça o login para acessar os seus itens</h2>
{{/if}}

