<h1> Listar Receitas </h1>
<table  class="table table-striped">
<thead  class="bg-primary">
    <tr>
        <th scope="col">email</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">É colaborador</th>
        <th scope="col">É ativo</th>
        <th scope="col">É administrador</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
    </tr>
</thead>
<tbody>
    {{#each usuarios}}
    <tr>
        <th scope="row">{{email}}</th>
        <td>{{nome}}</td>
        <td>{{sobrenome}}</td>
        <td>
            {{#if eColaborador}}
                <input type="checkbox" disabled="true" checked>
            {{else}}
                <input type="checkbox" disabled="true">
            {{/if}}
        </td>
        <td>
            {{#if eAdmin}}
                <input type="checkbox" disabled="true" checked>
            {{else}}
                <input type="checkbox" disabled="true">
            {{/if}}
        </td>

        <td>
            <a href="/usuario/{{id}}/edit"> 
                <button class="btn btn-primary">Editar</button> 
            </a>
        </td>
        <td>
            <a href="/usuario/{{id}}/delete"> 
                <button class="btn btn-danger" onclick="deletarUsuario({{id}})">Deletar</button> 
            </a>
        </td>
    </tr>
    {{/each}}
</tbody>
</table>
<script src="../js/index.js"></script>