{{#if usuario.id}}
<div class="col-md-4 col-md-offset-4">
    <form action="/usuario/edit" method="post">
        <input type="hidden" name="id" value="{{usuario.id}}">
        <div class="form-group">
            <label for="inome">Nome</label>
            <input type="text" 
                class="form-control" 
                id="inome" 
                name="nome" 
                value="{{usuario.nome}}">
        </div>

        <div class="form-group">
            <label for="isobrenome">Sobrenome</label>
            <input type="text" 
                class="form-control" 
                id="isobrenome" 
                name="sobrenome" 
                value="{{usuario.sobrenome}}">
        </div>

        <div class="form-group">
            <label for="iemail">Email</label>
            <input type="email" 
                class="form-control" 
                id="iemail" 
                name="email" 
                value="{{usuario.email}}">
        </div>

        <div class="form-group">
            <input type="checkbox" 
                class="form-check-input" 
                id="iecol" 
                {{#if usuario.eColaborador}}
                    checked
                {{/if}}
                name="eColaborador">
            <label class="form-check-label" for="iecol">É Colaborador</label>
        </div>
        
        <div class="form-group">
            <input type="checkbox" 
                class="form-check-input" 
                id="ieadmin" 
                {{#if usuario.eAdmin}}
                    checked
                {{/if}}
                name="eAdmin">
            <label class="form-check-label" for="ieadmin">É administrador</label>
        </div>

        <input class="btn btn-warning" type="reset" value="Reverter alterações">
        <input class="btn btn-success" type="submit" value="Salvar alterações">
    </form>
</div>
<script src="../js/index.js"></script>
{{else}}
    <h1>Acesso não autorizado</h1>
{{/if}}
